body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 100%;
    
}  
header{
    height: 40px;
    display:inline-flex;
    flex-wrap: wrap; 
    
}
nav{
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: #fff;
    
}
header .telymail{
   margin-top: 32px;
   padding-left: 300px;
   display: flex;
   
}
.telymail a{
    text-decoration: none;
    color: #757575;
    
}
.icon-mobile{
    color: #757575;
    padding-left: 30px;
    padding-right: 10px;
}
.icon-mail2{
    color: #757575;
    padding-right: 10px;
}
/* mouse over link */
nav :hover{
    color: #2196F3;
}
header div :hover{
color: #2196F3;
}
nav a{
    text-decoration: none;
    display: inline;
    padding-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
#webstudio{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    padding-left: 120px;
} 
h4{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    padding-left: 24px; 
    margin-top: 20px;
    margin-bottom: 4px;
}
span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03px;
    color: #757575;
    padding-left: 24px;
    margin-bottom: 20px;
}
#buttons{
    padding-top: 106px;
    padding-bottom: 50px;
    background-color: #fff;
}
/* mouse over link */
button:hover{
    background-color: #2196F3;
    color: #fff;
}
ul li{
    display: inline;
}
/* costum buttos */
button{
    background-color: #F5F4FA;
    border-radius: 4px;
    border-color: #F5F4FA;
    padding: 8px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;  
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;color: #212121;
    background-color: #F5F4FA;
} 
.botonall{
    margin-left: 397px;
}
.boton{
    margin-left: 8px;
}

/* img section */
.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.containner{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    height: 404px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.containner img{
    width: 370px;
    height: 294px;
}/* blue banner */
.containner .overlay{
    position: absolute;
    top: 288px;
    width: 370px;
    height: 294px;
    opacity: 0;
}
/* text in banner*/ 
.text-lay{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    top: 288px;
    width: 370px;
    height: 294px;
    opacity: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 3%;
}
.text-lay p{
    margin-left: 24px
}
/* hover blue banner */
.containner:hover .overlay {
    opacity: 0.8;
    background-color: #2196F3;
    transition: 2s;
}
.containner:hover .text-lay{
    opacity: 1;
    transition: 2s;
}/* end hover blue banner */
.containner h4{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 36px;
    text-align: left;
    letter-spacing: 6%;
    color: #212121;
}
.containner span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 38px;
    text-align: left;
    letter-spacing: 3%;
    color: #757575;
}
/* footer */
footer{
    margin-top: 84px;
    background-color: #2f303a;
    height: 252px;
}
footer .contacto{
    padding-top: 60px;
    position: absolute;
}
footer div a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    padding-left: 120px;
}
footer .contacto span{
    padding-left: 156px;
    color: #fff;   
}
footer .contacto address{
    color: #ececec;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 00.03em;
    color: #fff;
    margin-top: 20px;
    padding-left: 120px;
}
/* hover link */
.circle:hover{
    background-color: #2196F3;
 }
 .circle1:hover{
    background-color: #2196F3;
 }
 footer .circle1{
    position: relative;
    display: inline-block;
    margin-top: 110px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    margin-top: 108px;
    margin-left: 421px;
} 
footer .circle{
    position: relative;
    display: inline-block;
    margin-top: 110px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    margin-top: 108px;
} 
/* link social red */
.social-red {
    position: absolute;
    margin-left: 310px;
    top: 1790px;
}
.icon-instagram{
    color: #FFFFFF;
}
.icon-twitter{
    color: #FFFFFF;
    padding-left: 27px;
}
.icon-facebook{
    color: #FFFFFF;
    padding-left: 26px;
}
.icon-linkedin2{
    color: #FFFFFF;
    padding-left: 28px;
}
